.canvas{
  width: 700px;
  height: 200px;
  margin: auto;
  background-image: url(img/village.gif);
  background-size: 700px 200px;
  border:  1px solid black;
  padding: 0px;

}

#nezuko{
  width:70px;
  height: 70px;
  background-image: url(img/Chihiro.gif);
  background-size: 70px 70px;
  position: relative;
  top:130px;
  left: -10px;
}

.jump{
  animation: jump 0.3s linear;
}

@keyframes jump {
  0%{
    top : 100px;
  }
  30%{
    top: 50px;
  }
  50%{
    top: 10px;
  }

  80%{
    top: 50px;
  }
  100%{
    top: 100px;
  }
}

#obstacle{
  width: 80px;
  height: 80px;
  position: relative;
  top: 75px;
  left: 740px;

  background-image: url("img/snake_monster.png");
  background-size: 80px;

  animation: block 1s infinite linear;
}

@keyframes block{
  0%{
    left: 740px;
  }
  100%{
    left: -40px;
  }

}
