
.game_title{
  padding-top: 50px;
  padding-bottom: 30px;
  font-family: 'Fundead BB', sans-serif;
  font-size: 50px;
  color: #03491d;
}

.game_instruction{
  padding-top: 20px;
  padding-bottom: 30px;
  font-family: 'Fundead BB', sans-serif;
  font-size: 25px;
  color: #03491d;
}

  /*--------- Character front page ----------*/
  .container_perso {
    background-color: #03491d;
    border-radius: 5px;
    height: 170px;
    width: 600px;
    padding: 20px;
  }

  .nezuko_perso{
    background-image: url('img/nezuko_walking.png');
    background-size: 150px 150px;
  }

  /*----------- Location ----------------*/

  .status{
    font-size: 15px;
    font-family: 'Fundead BB', sans-serif;
    color : black;
  }

  .score{
    font-size: 25px;
    font-family: 'Fundead BB', sans-serif;
    color:#03491d
  }

  .location_div{
    margin-bottom: 5px;
  }

.find-state {
  appearance: button;
  background-color: #acdbf1;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Fundead BB', sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin-top: 10px;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 130px;
}
 
.find-state, .btns{
  font-family: 'DePixel' sans-serif;
}

.find-state:after {
  background-clip: padding-box;
  background-color: #03491d;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.find-state:main,
.find-state:focus {
  user-select: auto;
}

.find-state:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.find-state:disabled {
  cursor: auto;
}

/*------------- NAME FORM -------------------*/

input[type=text], select, textarea {
  width: 150px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  resize: vertical;
}


#fname{
  font-size: 15px;
  width:auto;
  font-family: 'DePixel', sans-serif;
  margin-top: 20px;
}


.container {
  border-radius: 5px;
  background-color: #f9e79f;
  padding: 20px;
}

/*---------------GAME ITEMS -----------------------*/

.canvas{
  width: 800px;
  height: 300px;
  margin: auto;
  background-image: url(img/japanese_temple.gif);
  background-size: 800px 300px;
  padding: 0px;

}

#nezuko{
  width:100px; /*de base ct tout 70px*/
  height: 100px;
  background-size: 100px 100px;
  position: relative;
  top:170px;
  left: -20px;
}

.jump{
  animation: jump 0.3s linear;
}

@keyframes jump {
  0%{
    top : 100px;
  }
  30%{
    top: 50px;
  }
  50%{
    top: 0px;
  }

  80%{
    top: 50px;
  }
  100%{
    top: 100px;
  }
}

#obstacle{
  width: 40px;
  height: 40px;
  position: relative;
  top: 130px;
  left: 750px;
  background-image: url("img/no_face_simple.gif");
  background-size: 60px;
  animation: block 2s infinite linear;
}

@keyframes block{
  0%{
    left: 750px;
  }
  100%{
    left: -40px;
  }

}

.time{
  font-size: 20px;
  font-family: 'Fundead BB', sans-serif;
  color: #03491d;
}



  /*------------ HALL OF FAME ---------------*/

.score_title{
  font-family: 'DePixel', sans-serif;
  font-size: 40px;
  color: #03491d;
}

table {  
  width: 500px;
  height: 300px;
  text-align: center;
  font-size: 15px;
  border-collapse: collapse;
 
}

th, tfoot td {
  height: 25px;
  font-size: 15px;
  color: white;
  background: #03491d;
  border: solid #acdbf1;
}

th {
  font-family: 'DePixel', sans-serif; 
  font-size: 15px;
  padding: 5px;
}

td {
  font-family: 'DePixel', sans-serif; 
  font-size: 15px;

}

tbody tr:nth-child(odd){
  background: #acdbf1;
}

tbody tr:nth-child(even) {
  background: #6decafcc;
}


footer {
  text-align: right;
  font-family: 'DePixel', sans-serif;
}

/*------------ ALERT BOX ---------------*/

@import url('http://fonts.cdnfonts.com/css/depixel');

#p1{
  padding-top: 20px;
  font-weight: bold;
  color: #03491d;
}

.body_alert {
  background-image: url('/img/cemetery.png');
  background-size: 100%;
  background-repeat: inherit;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body{
  font-family:'DePixel', sans-serif;
  background-color: #dedede;
}


.click, .popup_box{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%); 
}

.click{
  background-color: #03491d;
  color:white;
  font-family: 'DePixel', sans-serif;
  text-align: center;
  padding: 10px 15px;
  border-radius: 16px;
  border: 2px solid #acdbf1;
  
}

.popup_box{
  user-select: none;
  width: 300px;
  height: 250px;
  background: #f2f2f2;
  text-align: center;
  align-items: center;
  padding: 30px;
  border: 1px solid #b3b3b3;
  box-shadow: 0px 5px 10px #03491d;
  /* z-index: 9999; */

}

.dead{
  background-size: 50px 50px;
}

.popup_box h1{
  font-size: 20px;
  color: #1b2631;
  margin-bottom: 5px;

}

.popup_box label{
  font-size: 23px;
  color: #404040;
  
}

.popup_box .btns{
  margin: 40px 0 0 0;
}

.btns .btn1, .btns .btn2{
background-color: #03491d;
color:white;
font-size: 18px;
padding: 10px 13px;
border: 2px solid #9999 ;
border-radius: 5px;
}

/*------------DRAG N DROP -------------*/

#div0{
  display: flex;
  justify-content: center;
}

#div1, #div2, #div3 {
    width: 80px;
    height: 90px;
    margin: 10px;
    padding: 10px;
    border: 3px solid #03491d;
  }

  #div3{
    border: 5px solid #d6b50b;
  }

 .h3, .dragdrop_title{
    font-family: 'DePixel', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 35px;
    color: #d6b50b;
  }


